@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --blue: hsl(212, 100%, 50%);
  --button-hover: #60ABFF;
  --black-dark-mode: #141D2F;
  --gray-dark-mode: hsl(222, 41%, 20%);
  --hover-mode-toggle-dark-mode: #90A4D4
}

body, h1, h2, p {
  margin: 0;
}

h1, h2, p, button, a {
  font-family: 'Space Mono'
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--black-dark-mode);
}

#root {
  width: 100%;
  height: 100%;
}

a, p {
  font-size: 13px;
  color: white;
}