@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --blue: hsl(212, 100%, 50%);
  --button-hover: #60ABFF;
  --error-red: #F74646;

  --background-color: #141D2F; /* #F6F8FF */
  --container-color: #1E2A47; /* #FEFEFE */
  --title-color: white; /* #222731 */
  --theme-toggle-color: white; /* #4B6A9B */
  --toggle-hover-color: #90A4D4; /* #90A4D4 */
  --internal-text-color: white; /* #697C9A */
  --body-title-color: white; /* #2B3442 */
}

body, h1, h2, p {
  margin: 0;
}

h1, h2, p, button, a {
  font-family: 'Space Mono'
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
}

#root {
  width: 100%;
  height: 100%;
}

a, p {
  font-size: 13px;
}